<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login/login.css">
    <script src="scripts/login_page.js" defer></script>
    <title>Login</title>
</head>
<body>
    <div class="box">
            <h class="head login_head"><b>Log in</b></h>
            <center>
                <p>As a current Inventure student or faculty member, login directly with your Inventure Gsuite ID!</p>
            </center>
            <button class = "button" onclick="login()">Log in</button>
            <div class="line"></div>
            <h class="head signin_head"><b>Sign up</b></h>
            <center>
                <p>Make your personal Inventure Alumni account and stay connected to your Inventure roots!</p>
            </center>
            <button class = "button" onclick="signup()">Sign up</button>
    </div>
</body>
</html>