<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login/welcome.css">
    <title>Welcome</title>
</head>
<body>
    <div class="box">
        <h2><b class = "big">Welcome</b><br> to the <br>
            <b>Inventure Academy Alumni Website</b></h2>
            <div class="out_of_flow">I am an Inventure...</div>
        <div class="wrapper">
            
            <button onclick='window.location.href = ("./login/alumini")'>Alumini</button>
            <button onclick="window.location.href = ('./login/std-teach/student')">Student</button>
            <button onclick="window.location.href = ('./login/std-teach/faculty member')">Educator</button>
        </>
    </div>
</body>
</html>