<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login/welcome.css">
    <title>Welcome</title>
</head>
<body>
    <div class="box">
        <h2>Welcome to the inventure academy alumini website</h2>
        <div class="wrapper">
            <button onclick='window.location.href = ("./login/alumini")'>alumini</button>
            <button onclick="window.location.href = ('./login/std-teach/student')">student</button>
            <button onclick="window.location.href = ('./login/std-teach/teacher')">teacher</button>
        </div>
    </div>
</body>
</html>