<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Inventures Alumni website</title>
    <link rel="stylesheet" href="styles/main/welcome.css">
    <link rel="stylesheet" href="styles/main/account.css">

 
    <%- include("partials/background") %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="scripts/search_bar.js"></script>


    <div class="navbar">
        <div class="buttons">
            <button class="PrimeryButton" onclick="window.location.href = '/'">Home Page</button>
            <button class="PrimeryButton" disabled>Connect with your class</button>
            <button class="PrimeryButton" disabled>Whats New</button>
        </div>
        <%- include("partials/account_dropdown") %>

    </div>

</head>
<body>
    <div class="mainBody">
        <h1>Welcome To Inventure Academy's Alumni Website</h1>
        <h2>Find Your Alumni now!</h2>

        <div class="searchbar">
            <input type="text" name="Search" id="big_searchbar" spellcheck="true" placeholder="">
            <button class="searchButton"><img class="searchimg" src="/files/search button.png" alt="Search" onclick="searchFromBar()"></button>
        </div>

        <p>
            Search for Alumni based on Name, Graduation year, College, Major, Occupation,
            <br>Country or City of residence.
        </p>
    </div>



    <script>
            let showAlert = "<%=showAlert%>";
            if (showAlert === "true") {
                alert("No alumni match your search query");
                window.location.replace("/");}
    </script>
</body>
</html>