<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/home.js" defer></script>
    <script src="jquery.js" async></script>
    <link rel="icon" href="files/inv logo.png" type="image/x-icon">
</head>

<body>
    <h1>
        <%= message %>

    </h1>
    <h1>You are logged in</h1>
</body>

</html>