<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/home.js" defer></script>
    <script src="jquery.js" async></script>
</head>

<body>
    <h1>
        <%= message %>

    </h1>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas repellat velit quo iste. Odit dolorum quasi,
        laudantium optio corrupti veritatis voluptate! Repellendus accusamus distinctio obcaecati molestiae, qui
        voluptas veritatis nam.
        Quod, fuga? Aspernatur commodi quas aperiam odit corporis autem reprehenderit enim adipisci architecto, dolores
        voluptatum quam quae distinctio doloribus ratione nobis. Incidunt, similique esse ad doloremque ut animi
        necessitatibus dolor.
        Quo laboriosam modi voluptatibus tenetur voluptate incidunt maiores vel ex necessitatibus, eligendi aliquam iure
        dolores error unde sint sed, saepe dolorum eaque. Veritatis fugiat natus necessitatibus labore iure quasi
        officia.
        Laudantium nostrum aliquid quod reprehenderit commodi suscipit numquam dolores id temporibus in? Ea ad in alias
        porro omnis exercitationem ipsam repellat iste eaque, explicabo nostrum optio quaerat aliquid vitae culpa!
        Ea eveniet accusantium vitae rerum repellendus itaque? Fuga autem facere nam excepturi natus veritatis iste
        eaque omnis aut corrupti quo illo illum quis, distinctio voluptatum, deserunt porro? Error, nobis unde.</h1>
</body>

</html>