<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Inventures Alumni website</title>
    <link rel="stylesheet" href="styles/main/welcome.css">
    <link rel="stylesheet" href="styles/main/navbar.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="scripts/search_page.js"></script>


    <div class="navbar">
        <div class="buttons">
            <button class="PrimeryButton">Home Page</button>
            <button class="PrimeryButton">Connect with your class</button>
            <button class="PrimeryButton" disabled>Whats New</button>
        </div>
        <button class="searchButton"><img class="searchimg" src="/files/account.png" alt="acount" ></button>
    </div>

</head>
<body>
    <div class="mainBody">
        <h1>Welcome To Inventure Academy's Alumni Website</h1>
        <h2>Find Your Alumni now!</h2>

        <div class="searchbar">
            <input type="text" name="Search" id="big_searchbar" spellcheck="true">
            <button class="searchButton"><img class="searchimg" src="/files/search button.png" alt="Search" onclick="searchFromBar()"></button>
            <button class="searchButton"><img class="searchimg" src="/files/new filter.png" alt="filter" onclick="open_model(true)"></button>
        </div>

        <p>
            You can search for alumnis based on Name, Email, graduation year, college, major, job, country, city.
        </p>
    </div>

    <div class="filterPopup">
        <h2><u>Filter Parameters</u></h2>
        <div class="filterOptions">
            <div class="smallText"><label for="name">Name</label><input type="text" name="name"></div>
            <div class="smallText"><label for="gradyear">Graduation year</label><input type="text" name="gradyear"></div>
            <div class="smallText"><label for="college">College</label><input type="text" name="college"></div>
            <div class="smallText"><label for="major">major</label><input type="text" name="major"></div>
            <div class="smallText"><label for="job">Ocupation</label><input type="text" name="job"></div>
            <div class="smallText"><label for="country">Country</label><input type="text" name="country"></div>
            <div class="smallText"><label for="city">City</label><input type="text" name="city"></div>
        </div>
        <button class="search" onclick="searchFromFilter()">Search</button>

    </div>
    <div class="opacityHider" onclick="open_model(false)"></div>
</body>
</html>