<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="styles/main/results.css">
    <link rel="stylesheet" href="styles/main/navbar.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="scripts/search_bar.js"></script>

</head>
<body>
    <div class="navbar">
        <div class="buttons">
            <button class="PrimeryButton">Home Page</button>
            <button class="PrimeryButton">Connect with your class</button>
            <button class="PrimeryButton" disabled>Whats New</button>
        </div>
        <span class="wrap">
            <div class="searchbar">
                <input type="text" name="Search" id="big_searchbar" spellcheck="true">
                <button class="searchButton"><img class="searchimg" src="/files/search button.png" alt="Search" onclick="searchFromBar()"></button>
            </div>
            <button class="searchButton acount"><img class="searchimg" src="/files/account.png" alt="acount" ></button>
        </span>
    </div>

    <h1><%= values %></h1>

</body>
</html>