button{
    cursor: pointer;
}

.navbar {
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #FF6F01;
    position: sticky;

    border-bottom: 5px black solid;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-inline: 2vw;
    height: 4rem;
    gap: 2vw;
    width: 100vw;

    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
}


.buttons{
    width: min(60vw, 40rem);

    display: flex;
    justify-content: space-between;
}

.PrimeryButton{
    color: #fff;
    background-color: #07519C;

    border: black 0.2rem solid;
    border-radius: 1rem;

    font-size: min(2vw, 1.3rem);
    height: 2.2rem;
    margin: 1rem;

    padding-inline: 0.5rem;

    &:disabled{
        opacity: 60%;
    }
}

.PrimeryButton:hover:not([disabled]){
    background-color: #37699b;
    // opacity: 80%;
    box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);
}


.searchimg{
    width: 100%;
}
.searchimg:hover{
    opacity: 50%;
}