body{
    // background-color: #F3E8EE;
    height: 100vh;
}

h1{
    font-size: 3rem;

    text-decoration: solid underline 5px;
}

h2{
    font-size: 2.5rem;
}

.searchbar{
    display: flex;
 
    justify-content: center;

    align-items: stretch;
    height: 5rem;
}

#big_searchbar{

    color: #fff;
    background-color: #07529c;

    border: black 0.2rem solid;
    border-radius: 1rem;

    outline: none;

    font-size: 2rem;
    padding: 1%;
    flex-grow: 1;

    &:focus{
        border: black 0.3rem solid;
    }
}

.searchButton{
    height: 4rem;
    aspect-ratio : 1/1;
    // background-color: #F3E8EE;
    background-color: transparent;
    border: none;
    align-self: center;

}

.searchimg{
    width: 100%;
}
.searchimg:hover{
    opacity: 50%;
}

p{
    font-size: 2rem;
}

.mainBody{
    display: flex;
    flex-direction: column;
    height: 80vh;

    width: clamp(200px, 90vw, 1800px);


    margin: auto;


    justify-content: space-evenly;

}


.smallText{
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 1.5rem;
}

.smallText>input[type="text"]{
    color: #fff;
    background-color: #07529c;

    border: black 0.1rem solid;
    border-radius: 1rem;

    outline: none;
    padding-block: 0.5%;
    padding-inline: 2%;
}

.search{
    height: 3.2rem;
    margin-top: 2%;
    padding-inline: 2%;
    font-size: 2rem;

    border: black 0.2rem solid;
    border-radius: 1rem;

    background-color: #07519C;

    &:hover{
        opacity: 70%;
    }
}


//nav bar
button{
    cursor: pointer;
}

.navbar {
    background-color: #FF6F01;
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    border-bottom: 5px black solid;

    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto) 1fr auto 0.1fr auto;

    justify-content: center;
    align-items: center;

    padding-inline: 1vw;
    height: calc(4rem + 5px);
    width: 100vw;
}


.PrimeryButton{
    font-size: min(2vw, 1.3rem);
    height: 2.2rem;
    margin: 1rem;

    padding-inline: 0.5rem;
}

// Styles
.PrimeryButton{
    color: #fff;
    background-color: #07519C;

    border: black 0.2rem solid;
    border-radius: 1rem;

    &:disabled{
        opacity: 60%;
    }
}

.PrimeryButton:hover:not([disabled]){
    background-color: #37699b;
    // opacity: 80%;
    box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);
}

.acount{
    grid-column: 7;
    border: solid black 5px;
    box-sizing: border-box !important;
    height: 3.5rem !important;
    border-radius: 1rem;

    background-color: #07529c;

    position: relative;
}
