@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'ubuntu', sans-serif;
}

button{
    cursor: pointer;
}

.navbar {

    height: 4rem;
    background-color: #FF6F01;
    position: sticky;

    border-bottom: 5px black solid;


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;

    padding-left: 2vw;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
}

.PrimeryButton{
    font-size: 1.3rem;
    height: 2.2rem;
    margin: 1rem;


    padding-inline: 0.5rem;
    
    color: #fff;
    background-color: #07519C;

    border: black 0.2rem solid;
    border-radius: 1rem;

    &:disabled{
        opacity: 60%;
    }
}
.PrimeryButton:hover:not([disabled]){
    background-color: #37699b;
    // opacity: 80%;
    box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);

}


body{
    // background-color: #F3E8EE;
    background-image: url("/files/bgimage.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    color: #fff;
    height: 100vh;
    
}

h1{
    font-size: 3rem;

    text-decoration: solid underline 5px;
}

h2{
    font-size: 2.5rem;
}

.searchbar{
    display: flex;
 
    justify-content: center;

    align-items: stretch;
    height: 5rem;
}

#big_searchbar{

    color: #fff;
    background-color: #07529c;

    border: black 0.2rem solid;
    border-radius: 1rem;

    outline: none;

    font-size: 2rem;
    padding: 1%;
    flex-grow: 1;

    &:focus{
        border: black 0.3rem solid;
    }
}

.searchButton{
    height: 4rem;
    aspect-ratio : 1/1;
    // background-color: #F3E8EE;
    background-color: transparent;
    border: none;
    align-self: center;

}

.searchimg{
    width: 100%;
}
.searchimg:hover{
    opacity: 50%;
}



p{
    font-size: 2rem;
}

.mainBody{
    display: flex;
    flex-direction: column;
    height: 80vh;

    width: clamp(200px, 90vw, 1800px);


    margin: auto;


    justify-content: space-evenly;

}

.filterPopup{
    // display: none;

    z-index: 10;
    position: absolute;


    color: #000;
    top: 0;

    height: max(65%, 450px);
    
    width: clamp(600px, 50vw, 1300px);

    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%);


    background-color: #FF6F01;
    border: #000 solid 0.4rem;

    display:none;

}

.filterOptions{
    width: max(65%, 500px);
    z-index: 11;
    margin: auto;
    height: 70%;
    margin-top: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.smallText{
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 1.5rem;
}

.smallText>input[type="text"]{
    color: #fff;
    background-color: #07529c;

    border: black 0.1rem solid;
    border-radius: 1rem;

    outline: none;
    padding-block: 0.5%;
    padding-inline: 2%;
}

.search{
    height: 3.2rem;
    margin-top: 2%;
    padding-inline: 2%;
    font-size: 2rem;

    border: black 0.2rem solid;
    border-radius: 1rem;

    background-color: #07519C;

    &:hover{
        opacity: 70%;
    }
}


.opacityHider{
    z-index: 9;
    opacity: 30%;
    background-color: #fff;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;

    display: none;
}

