<div class="searchButton acount dropdown">
    <img class="searchimg dropbtn" src="/files/new account.png" alt="acount" >
    <div class="dropdown-content">
        <div href="#" onclick="window.location.href = '/logout'">Logout</div>
      </div>
</div>