<link rel="stylesheet" href="styles/main/navbar.css">
<link rel="stylesheet" href="styles/main/account.css">

<script defer src="scripts/search_bar.js"></script>

<div class="navbar">

    <button class="PrimeryButton" onclick="window.location.href = '/'">Home Page</button>
    <button class="PrimeryButton" disabled>Connect with your class</button>
    <button class="PrimeryButton" disabled>Whats New</button>

    <div class="searchbar">
        <input type="text" name="Search" id="big_searchbar" spellcheck="true" placeholder="Search here">
        <button class="searchButton"><img class="searchimg" src="/files/search button.png" alt="Search" onclick="searchFromBar()"></button>
    </div>

    <%- include("account_dropdown") %>
    

</div>
