<div class="navbar">
    <div class="buttons">
        <button class="PrimeryButton" onclick="window.location.href = '/'">Home Page</button>
        <button class="PrimeryButton" disabled>Connect with your class</button>
        <button class="PrimeryButton" disabled>Whats New</button>
    </div>
    <span class="wrap">
        <div class="searchbar">
            <input type="text" name="Search" id="big_searchbar" spellcheck="true" placeholder="Search here">
            <button class="searchButton"><img class="searchimg" src="/files/search button.png" alt="Search" onclick="searchFromBar()"></button>
        </div>
        <button class="searchButton acount"><img class="searchimg" src="/files/account.png" alt="acount" ></button>
    </span>
</div>
