body{
    background-image: url("https://pbs.twimg.com/media/Fv59ERsakAA52Cy.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    .box{
        background-color: #FF6F01 !important;
        max-width: 30vw;
        min-height: 40vh;

        transform: translate(-50%, -50%);

        top: 50vh;
        left: 50vw;
        
        position: relative; 

        box-shadow: 0px 0px 5px 10px rgb(0, 0, 0);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        
        


        .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;

            border-top: solid 10px black !important;
        }

        button{
            background-color: #07519C;
            font-size: min(1.7vw, 2rem) !important;
            border-radius: 1vh;
            padding: 0.3vw;
            border: black solid;
            color: #f3e8ee;
            flex-grow: 1;
            min-width: 0;
            height: 50%;
            margin-inline: 5%;


        }
        button:hover{
            opacity: 60%;
        }

        h2{
            text-align: center;
            font-size: clamp(0.2rem, 5vw, 2.5rem);
            padding-block: 4%;
            padding-inline: 2%;
            font-weight: 400; 
        }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: ubuntu, sans-serif;
    margin: 0px;
    padding: 0;
}