body{
    background-image: url("/files/bgimage.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    .box{
        background-color: #FF6F01 !important;
        max-width: 40vw;
        min-height: 40vh;

        transform: translate(-50%, -50%);

        top: 50vh;
        left: 50vw;
        
        position: relative; 

        box-shadow: 0px 0px 5px 10px rgb(0, 0, 0);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        
        

        .big{
            font-size: clamp(0.2rem, 7vw, 6rem);
            
        }
        .wrapper{
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            flex-grow: 1;

            padding: 5%;
        }

        button{
            background-color: #07519C;
            font-size: min(1.7vw, 2rem) !important;
            border-radius: 1vh;
            padding: 0.3vw;
            color: #f3e8ee;
            flex-grow: 1;
            min-width: 0;
            height: 50%;
            margin-inline: 5%;
            border: 3px solid black !important;


        }
        button:hover{
            opacity: 80%;
            box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);

        }

        h2{
            text-align: center;
            font-size: clamp(0.2rem, 5vw, 2.5rem);
            padding-block: 4%;
            padding-inline: 2%;
            font-weight: 400; 

            line-height: 1.5;
        }
        .out_of_flow{
            position: relative;
            top: 0;
            width: 100%;
            border-top: 10px black solid; 

            text-align: center;
            padding-top: 3%;
            font-size: max(1.7vw, 1rem) !important;

        }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


@media only screen and (width <= 500px) {
    .wrapper {
        flex-direction: column;
        align-items: center !important;
        justify-content: space-around;
        margin: 0;
    }
}

*{
    font-family: ubuntu, sans-serif;
    margin: 0px;
    padding: 0;
}